.home {
    position: absolute;
    /* top: 7%; */
    width: 100%;
}

.home-child-1 {
    background: url('./groceries-back2.jpg');
    display: flex;
    max-width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.adress-container {
    /* background-color: #ffff; */
    display: flex;
    padding: 10px;
    /* box-shadow: 1px 1px 5px 1px #888888; */
    width: 800px;
    /* margin: 10px; */
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.home-child-1 p {
    font-size: 40px;
    font-weight: lighter;

}

.adress-box {
    width: 60%;
}

.button-box {
    width: 40%;
    text-align: center;
}

.pick-up,
.delivery {
    padding: 10px;
    background-color: #d70f64;
    border: none;
    color: #ffff;
    width: 120px;
    border-radius: 5px;
    margin: 5px;

}

.partners-name-overwrite {
    width: 100%;
    align-items: center;
}

.partners-name-overwrite h1 {
    position: absolute;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 160px;
    z-index: -1;
}

.partners-name-overwrite p {
    padding-top: 80px;
    /* padding-left: 10px; */
    font-size: 30px;
    font-weight: lighter;
}

.cheif-background {
    /* margin-top: 100px; */
    width: 100%;
    height: 400px;
    background: url('./cooking-cheif.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.partner-info {
    background-color: #ffff;
    width: 500px;
    position: absolute;
    margin-top: 150px;
    margin-left: 20px;
    padding: 20px;

}

.partner-info h2 {
    font-weight: lighter;
}

.partner-info button {
    width: 100%;
    padding: 10px;
    background-color: #d70f64;
    border: none;
    color: #ffff;

}
.cities-heading{
    margin-top: 120px; 
}
.cities-heading h1{
    position: absolute;

    color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 160px;
    z-index: -1;
}
.cities-heading p {
    padding-top: 80px;
    /* padding-left: 10px; */
    font-size: 30px;
    font-weight: lighter;
}
@media only screen and (max-width: 820px) {

    .adress-container {
        background-color: none;
        width: 100%;
        display: block;
    }

    .adress-box {
        width: 100%;
    }

    .button-box {   
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .button-box button {
        width: 49%;
        margin: 10px;
    }

    .home-child-1 p {
        font-size: 35px;
    }

    .partner-info {
        width: 300px;
    }
    .partners-name-overwrite h1{
        font-size: 120px;
    }
    .partners-name-overwrite p{
        font-size: 25px;
        padding-top: 50px;
    }
    .cities-heading{
        margin-top: 120px; 
    }
    .cities-heading h1{
        color: #f5f5f5;   
        font-size: 140px;
    }
    .cities-heading p {
        padding-top: 50px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 520px) {
    .partner-info {
        width: 90%;
        margin-left: 0px;
       
    }
    .partners-name-overwrite h1{
        font-size: 90px;
    }
    .partners-name-overwrite p{
        font-size: 20px;
        padding-top: 30px;
    }
    .cities-heading{
        margin-top: 100px; 
    }
    .cities-heading h1{
        color: #f5f5f5;   
        font-size: 90px;
    }
    .cities-heading p {
        padding-top: 50px;
        font-size: 20px;
    }

}
@media only screen and (max-width: 320px) {
    .partners-name-overwrite h1{
        font-size: 60px;
    }
    .partners-name-overwrite p{
        font-size: 13px;
        padding-top: 20px;
    }


}